<% if obj.any? %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Sum</th>
      </tr>
    </thead>
    <tbody>
      <% obj.each do |c|%>
      <tr>
        <td>
          <div class="badge rounded-pill <%= c.transaction_type == 'Debit' ? 'bg-success' : 'bg-danger' %>">
            <%= link_to c.name, category_path(c), class: "link-light"%>
          </div>
        </td>
        <td> N/A </td>
      <tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <p> No categories yet ... <p>
<% end %>