<% if obj.any? %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Person</th>
        <th scope="col">Sum</th>
      </tr>
    </thead>
    <tbody>
      <% obj.each do |p|%>
        <% p.categories.each do |c|%>
        <tr>
          <td>
            <div class="badge rounded-pill <%= c.transaction_type == 'Debit' ? 'bg-success' : 'bg-danger' %>">
              <%= link_to c.name, category_path(c), class: "link-light"%>
            </div>
          </td>
          <td>
            <%= link_to p.name, person_path(p) %>
          </td>
          <td> N/A </td>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p> No categories yet </p>
<% end %>
<%= link_to '<i class="bi bi-bookmark-plus"></i> Add new category'.html_safe, new_category_path, class: "btn btn-outline-success"%>