<h1>Hi, <%= current_user.name %></h1>
<p> Welcome to Budget Application</h2>
<p>Control your family finances easily than ever </p>

<%= link_to "Sign out", destroy_user_session_path, method: :delete %>


