<h1>Hi, <%= current_user.name %></h1>

<p> Select person to track </p>


<div  class="row">
  <%= form_with(class: 'col-4 mb-4', method: 'get') do |form| %>
    <%= form.collection_select(:person_id, @people.order(:name), :id, :name,
                                { include_blank: 'Please select' }, 
                                { class: 'form-select mb-3 col-2' }) %>
    <%= form.submit 'Choose', class: "btn btn-outline-success"%>
  <% end %>
</div>
